.detalleNombreCompleto{
	font-size: .9em;
	font-weight: 600;
	padding: 1em 0;
}
.descProyectoDetalles{
	font-size: .8em;
}
.graficoDetalleProyecto{
	border: 1px solid #F0F0F0;
	height:290px;
	width: 315px;
	margin-top: 15px;
}
.alturaDetalleProyectos{
	height:calc(100% - 51.8px);
}