.headerPoryectos{
	background: #FF0000;
	color:$colorBaseP;
	padding: .9em;
	a{
		color: #FFF;
	}
	& .tituloProyectos{
		border:0px solid $colorBaseP;
		padding-left: .4em;
	}
	& .menu-secundario{
		text-align: right;
		display: block;
	}
}