.elementoLogEvento{
	border-bottom:1px solid #CCC;
	text-align: center;
	padding: .3em 0;
	& .avatrUsuario{
		height: 50px;
		width: 50px;
		border: 1px solid #CCC;
		border-radius: 50%;
		margin: .8em auto;
	}
	& .nombreUsuario{
		margin-top: .9em;
		text-align: left;
	}
	& .fechaLog{
		font-size: .7em;
		padding: .6em 0;
		text-align: left;
	}
	& .descLog{
		font-size: .8em;
		padding: .3em 0;
		text-align: left;
	}
}
