html,document,body{ position:absolute; width:100%; height:100%; margin:0px; font-family:Verdana, Geneva, sans-serif; overflow:hidden; }
#principal{position:absolute; width:100%; height:100%; margin:0px; background-color:#999; }
#A{position:relative; width:100%; height:25px; margin:0px; background-color:#000; color:#FFF; }
	#A1{ font-size:14px; text-align:left; font-weight:bold; padding:5px; height:20px; }
	#A2{ text-align:center; }
#B{position:relative; width:100%; height:90%; margin:0px; background-color:#fff; }

/*para los resultados*/
.resultadosAvisos{ background:#FFF;border:1px solid #CCC; width:96%; height:50px; margin:4px; font-size:12px;}
.resultadosAvisos:hover{ background:#f0f0f0; cursor:pointer;}
/*columnas*/
.colummnas{border:1px solid #000; height:98%; width:40%; margin:3px; float:left; background:#FFF;}
.tituloColumna{height:20px; padding:5px; background:#666; color:#FFF; font-size:12px;}
.detalleColumna{border:1px solid #000;  height:98%; width:58%; float:left; margin:3px 0px 3px 3px; overflow:auto; background:#FFF; overflow:auto;}
/*ventana de dialogo para los mensajes y tareas*/
#barraTitulo1{ height:20px; padding:5px; color:#FFF; font-size:12px; background:#000;}
#btnCerrar{ float:right;}
.ventanaDialogo{
	border:1px solid #000;
	background-color:#FFF;
	height:500px;
	width:600px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-250px;
	/*z-index:21;*/
	/*sombra*/
	-webkit-box-shadow:10px 10px 5px #CCC;
	-moz-box-shadow:10px 10px 5px #CCC;
	filter: shadow(color=#CCC, direction=135,strength=2);
}
.msgVentanaDialogo{height:92%; overflow:auto;z-index: 22;}