/*bloque header del sitio*/
.header-movi {
  background: $primary-color;
  top: 0;
  /*box-shadow: 0 2px 2px 2.5px $colorSombra;*/
  color: $colorBaseP;
  padding: 1em;
  font-size: 1em;
  height: 3.5em;

  & .icon-menu {
    margin-left: .7em;
  }
  & .icon-menu:hover {
    cursor: pointer;
  }
  & .tituloApp {
    margin-left: .6em;
  }
  & .busqueda-icono {
    width: 30px;
  }
  & .icono-derecha {
    float: right;
  }
  & .espacio-iconos {
    margin-left: 1em;
    line-height: 1.5em;
  }
  & a {
    color: #FFFFFF;
  }
  & a:hover {
    color: #727272;
  }
  
  & .datosUsuarioApp {
    background: $primary-color;
    border-left: 1px solid $primary-color-light;
    float: right;
    width: 160px;
    margin-top: -15px;
    position: relative;
    height: 53px;

    & .nombreUsuarioApp {
      position: absolute;
      right: 4.5em;
      top: 9px;
      font-size: 0.7em;
      border: 0px solid #FF0000;
    }
    & .razonSocialApp {
      position: absolute;
      right: 4.5em;
      top: 29px;
      font-size: 0.7em;
      border: 0px solid #FF0000;
    }
    & .iconoNuevo {
      border: 1px solid $accent-color;
      line-height: 2.5em;
      border-radius: 50%;
      width: 2.5em;
      text-align: center;
      font-size: 1em;
      background: $accent-color;
      margin-top: 5px;
      margin-right: .2em;
    }

  }
  
  & .botonesHeaderApp {
    border: 0px solid #FF0000;
    float: right;
    right: 2px;
    position: relative;
    height: 53px;
    margin-top: -15px;
    width: 50px;
    text-align: center;
    display: none;

    & .iconoBotonHeader {
      border: 0px solid #FF0000;
      line-height: 2.5em;
    }
    & .textoBotonHeaderApp {
      border: 0px solid #F00;
      position: relative;
      top: -16px;
      font-size: 11px;
    }
  }

  & .botonesHeaderApp:hover {
    // background: $primary-color;
    background: lighten($primary-color,20%);
    cursor: pointer;
  }

}

@media screen and (min-width: 488px) {
  .header-movi .botonesHeaderApp {
    display: block;
  }
}

.buscadorAppMain {
  position: absolute;
  height: 100px;
  width: 90%;
  left: 50%;
  top: 25%;
  margin-left: -45%;
  margin-top: -50px;
  text-align: center;
  box-shadow: 0 2px 2px 2.5px #CCC;
  display: none;
}

.buscadorAppMain .buscadorLabel {
  font-size: 1.2em;
  margin-top: 1.2em;
}

.buscadorAppMain .buscadorLabel input {
  border: none;
  width: 95%;
  color: #727272;
}

.mostrarbuscadorAppMain {
  display: block;
}

/*Estilos para el submenu del usuario*/
.infoUsuario {
  width: 12.5em;
  height: auto;
  background: #FFFFFF;
  top: 4.5em;
  position: absolute;
  right: 0;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: .8em;
  display: none;
  -webkit-transition: all .5 s;
          transition: all .5 s;
  z-index: 100;
}

.infoUsuario .datosUsuario {
  font-size: .9em;
  border: 0px solid #FF0000;
  padding: 10px;
}

.infoUsuario .datosUsuarioCerrar {
  border-top: 1px solid #CCC;
  text-align: left;
}

.infoUsuario .datosUsuarioCerrar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoUsuario .datosUsuarioCerrar ul li {
  padding: 1em;
}

.infoUsuario .datosUsuarioCerrar ul li:hover {
  background: #F0F0F0;
  cursor: pointer;
}

@media screen and (min-width: 488px) {
  .infoUsuario .botonesDes {
    display: none;
  }
}

.mostrarSubmenuUsuario {
  display: block;
}

/*bloque del menu*/
.menuAppMain {
  width: 225px;
  height: -webkit-calc(100% - 56px);
  height: calc(100% - 56px);
  background: #FFFFFF;
  margin-top: 2px;
  z-index: 999;
  position: absolute;
  border: 1px solid #CCC;
  left: -225px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  & .img_logoClienteApp {
    height: 150px;
    text-align: center;
  }
  & .img_logoClienteApp img {
    /*max-width: 70%;*/
    /*height:auto;
        margin-top: 1.5em;*/
  }
  & .barraMenuApp {
    height: -webkit-calc(100% - 151px);
    height: calc(100% - 151px);
    overflow-y: auto;
  }

  & .estiloAdmonItem {
    padding: 7px 3px;
    font-size: 1.1em;
  }

  & .estiloAdmonItem:hover {
    cursor: pointer;
    background: #e3efff;
  }
}

@media screen and (min-width: 768px) {
  .menuAppMain {
    left: 0;
  }
  .iconoBarraApp{
    display: none;
  }
}

.mostrarMenuAppMain {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .mostrarMenuAppMain {
    left: -225px;
  }
}

.contenedorModulosApp {
  background: #EEEEEE;
  height: -webkit-calc(100% - 56px);
  height: calc(100% - 56px);
  color: #000;
  position: relative;
}

@media screen and (min-width: 768px) {
  .contenedorModulosApp {
    margin-left: 225px;
    width: -webkit-calc(100% - 225px);
    width: calc(100% - 225px);
  }
}

.paddingIconosMenu{
  padding: .4em;
}