.itemsListadoProyectos{
	// height:calc(100vh - 51.8px);
	background: #FFFFFF;
}
.bordeInferiorListaProyectos{
	border-bottom: 1px solid #CCC;
}
.bordeDerechoListaProyectos{
	border-right: 1px solid #F5F5F5;
}
.scrollVertical{
	overflow-y:auto
}
.listadoItemsProyectos{
	margin-top:0;
	margin-bottom:0;
	list-style:none;
	padding-left:0;
	margin: auto;
	@media screen and (min-width: 1024px) {
  		width: 1000px;	
	}
}
.a_SelectorProyecto{
	display: block;
	border-bottom: 0px solid #cccc;
	// background: #fff;
}
.a_SelectorProyecto:hover{
	// background: #f0f0f0;
}
.selectorProyectos{
	display: block;
	text-align: center;
	transform: translatey(36px);
}
.contentListaProyectos{
	height: auto;
	background: #FFF;
	font-weight: normal;
	& .nameProyecto{
		// border: 1px solid #FF0000;
		font-size: .9em;
		margin-left: .4em;
		font-weight: 600;
		padding: .3em;
	}
	& .descProyecto{
		// border: 1px solid #FF0000;
		font-size: .7em;
		height: 3.5em;
		margin-left: .4em;
		font-weight: 200;
		padding: .3em;
		display: none;
	}
	& .fechaProyecto{
		// border: 1px solid #FF0000;
		font-size: .7em;
		margin-left: .4em;
		font-weight: 400;
		padding: .3em;
	}
	& .graficoAvance{
		border: 1px solid blue;
		width: 111px;
		height: 6em;
		margin: 0 auto;
	}
	& .seleccionPoryecto{
		border: 0px solid green;
		height: 6em;
	}
	
}