$alturaHeaderP: 51.8;
$colorBaseP: #FFF;

$primary-color-dark:   #D32F2F;
$primary-color:        #F44336;
$primary-color-light:  #FFCDD2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$colorBarraMenu: #EEEEEE;



body{
	// overflow:hidden;
	margin: 0;
  	padding: 0;
  	// height: 100%;
  	background: #FFF;
}
.alignDerecha{
	text-align: right;
}
@import "_estilosApp";
@import "_header";
@import "_menu";
@import "_listadoProyectos";
@import "_detallesProyecto";
@import "_logEventos";

